<div id="<%= dom_id trip %>">
  <p>
    <strong>Origin:</strong>
    <%= trip.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= trip.destination %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= trip.vehicle %>
  </p>

  <p>
    <strong>Km total:</strong>
    <%= trip.distance %>
  </p>

  <p>
    <strong>Costs:</strong>
    <%= trip.costs %>
  </p>

</div>
