
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="w-100">
  <h2>Upravit Profil</h2>
  <div class="field my-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field my-3">
    <i>Nevyplňujte, pokud si nepřejete měnit heslo</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Heslo" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> znaků minimálně</em>
    <% end %>
  </div>

  <div class="field my-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Potvrdit heslo" %>
  </div>

  <div class="field my-3">
    <i>Potřebuji vaše aktuální heslo k potvrzení změn</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Současné heslo" %>
  </div>

  <div class="actions my-3">
    <%= f.submit "Uložit", class: "btn btn-secondary" %>
    <%= link_to "Zpět", :back, class: "btn btn-outline-secondary" %>
  </div>
<% end %>


  <div class="btn-container">
    <%= button_to "Trvale odstanit účet", registration_path(resource_name), data: { confirm: "Určitě si přejete smazat účet?", turbo_confirm: "Určitě si přejete smazat účet?" }, method: :delete, class: "btn btn-danger my-3" %>
  </div>
</div>
